@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;500&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
}
html,body{
    width: 100%;
    height: 100%;
}
.flex{
    display: flex;
    align-items: center;
}
body{
    justify-content: center;
    background-color: darkkhaki;
}

#cal{
    width: 250px;
    height: 200px;
    border-radius: 15px;
    overflow: hidden;
}
#calpart-1{
    background-color: white;
    width: 55%;
    height: 100%;
    justify-content: center;
}
#date{
    font-size: 5rem;
    font-weight: 300;
}
#calpart-2{
    background-color: #ff4619;
    color: white;
    width: 45%;
    height: 100%;
    justify-content: center;
}
.calpart{
    flex-direction: column;
}