@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Young+Serif&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}
html,body{
    width: 100%;
    height: 100%;   
}
.flex{
    display: flex;
    align-items: center;
}
body{
    padding: 30px;
    justify-content: space-between;
    background-color: lightblue;
}

.bodyitem{
    height: calc(100% - 60px);
}
#buttons{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
button{
    border: 1px solid black;
    background-color: transparent;
    border-radius: 20px;
    cursor: pointer;
    padding: 10px 20px;
    width: 200px;
}

#toastContainer{
    display: flex;
    flex-direction: column; 
    justify-content: flex-end;
    height: 100%;
    gap: 10px;
    overflow: hidden;
}
.toast{
    width: 400px;
    height: max-content;
    padding: 20px;
    background-color: white;
    gap: 15px;
    position: relative;
    animation: comeFromRight;
    transform: translate(100%,0);
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
}
.toast::after{
    content: '';
    position: absolute;
    width: 100%;
    height: 5px;
    bottom: 0;
    left: 0;
    animation-name: reduce;
    animation-duration: 3s;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
    animation-delay: 0.5s;
}
.toast.green::after{
    background-color: #008000;
}
.toast.yellow::after{
    background-color: #ffc20c;
}
.toast.red::after{
    background-color: #d0312d;
}
.symbol{
    display: inline-flex;
    height: 30px;
    width: 30px;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}
.symbol.green{
    background-color: #008000;
}
.symbol.yellow{
    background-color: #ffc20c;
}
.symbol.red{
    background-color: #d0312d;
}

.toast i{
    color: white;
    font-size: 1.2rem;
}




@keyframes reduce{
    from{
        width: 100%;
    }
    to{
        width: 0%;
    }
}

@keyframes comeFromRight{
    0%{
        transform: translate(100%,0);
    }
    100%{
        transform: translate(0,0);
    }
}

